*{
    background-color: #141414;
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

html{
    height: 100%;
}


body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

header{
    display: flex;
    height: 25%;
}

main{
    display: flex;
    flex-direction: row;
    height: 50%;
}

footer{
    display: flex;
    height: 25%;
}