.task-form {
    display: flex;
    gap: 14px;
    margin-left: 5rem;
    align-items: center;
    padding: 14px 16px;
    border-radius: 6px;
    margin-bottom: 18px;
}

.field {
    display: grid;
    gap: 6px;
}

.field label {
    font-weight: 700;
    color: #333333;                
    font-size: 14px;
}

.field-input{
    background: #ffffff;
    border: 1px solid #c3c3c3;
    padding: 8px 10px;
    border-radius: 4px;
    min-width: 200px;
}

.btn {
    all: unset;
}

.btn-add{
    margin-top: 1.4rem;
    height: 1.2rem;
    color: gray;
    cursor: pointer;
}

.btn-add:hover{
    color: rgba(128, 128, 128, 0.322);
}
