body{
    background: url("https://wallpaper.forfun.com/fetch/54/54f9a5958b0dcd692b66e337f96b86ae.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}