.table-tasks {
    width: 100%;
    font-size: 14px;
}

.table-tasks th,
.table-tasks td {
    padding: 8px 12px;
    text-align: center;
    }

    .table-tasks th {
    font-weight: bold;
    }

    .table-tasks tr:hover {
    background-color: #f0f8ff;
}

.btn-complete, .btn-delete{
    height: 1.4rem;
    cursor: pointer;
}

.btn-complete:hover{
    color: green;
}

.btn-delete:hover{
    color: red;
}